<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME PAGE</title>
</head>

<body>
    <h1>HEY! Welcome to our library section.</h1>
    <p>REGISTER YOUR BOOKS BELOW:</p>
    <a href="/register">
        <button class="btn btn-secondary">REGISTER</button>
    </a>
</body>

</html>